/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #D01110;
    /* RED */

    --secondary-color: #0A0A00;
    /* BLACK */

    --tertiary-color: #A8BBB0;
    /* CELADON */

    --quaternary-color: #EBE8E0;
    /* IVORY */


}

/* Global styles */


/* to check grids structure prior to adding content */
/* div {
    border: 2px solid black;
} */

body {

    /* Temporarily changing color to text new style */
    /* background-color: var(--quaternary-color); */
    background-color: #d3d3d3;
    padding-top: 55px;
}

.heading {
    font-family: var(--secondary-font) !important;
}

p,
.text-content {
    font-family: var(--primary-font)
}

.container {
    margin-bottom: 1.5em;
}

.card {
    margin-bottom: 1.5em;
}

.underline {
    text-decoration: underline;
}

/* Added this for higher specificity, regularly targetting them is not working due to BS display class overriding styles */
.display-6,
.display-3 {
    font-family: var(--secondary-font) !important;
}

.line-through {
    text-decoration: line-through;
}

.redbuttons button {
    background-color: #D01110;
    padding: 5px 10px;
    margin: 2px 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    height: 55px;
    margin:0;
    font-size: 20px;
    min-width: 100px;
}

.white-text {
    color: #d3d3d3 !important;
}
/* Navbar styles */

.navbar-toggler {
    background-color: white;
}

nav {
    background-color: var(--tertiary-color) !important;
}

#navbar-brand-anchor {
    background-color: #D01110;
    font-size: 30px;
    padding: 5px 10px;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-style: italic;
}

ul li a {
    margin: 0 5px;
}

#navbar-brand-anchor {
    min-height: 100%
}

.navbar {
    padding: 0 ;
}

/* Header */

.title {
    font-size: 60px;
    text-align: center;
}
.active {
    font-weight: bold;
}

header #title {
    /* background-color: var(--tertiary-color); */
    width: 98%;
    margin: auto;
}

#title h1 {
    font-size: 70px;
    font-family: var(--secondary-font);
    font-style: italic;
    text-align: center;
}

#heroimg {
    max-width: 100%;
    max-height: 100vh;
}

.heroimg {
    margin-top: 0;
}

.adjustimgsize {
    max-width: 100%;
    max-height: 100vh;
}

/* Main content */

/* Discount section */

/* #discount button {
    list-style-type: none;
    background-color: var(--primary-color);
    font-weight: bold;
    padding:

} */

/* Home class section */

/* Below belonging to class images, complications on structuring this in the 
website, will re-attempt later in the course if time allows */

/* To eliminate gap between class section images */
/* #classessection div {
    padding: 0 0 0 0;
} */

.classsectionimg {
    width: 100%;
}

#membershipsection {
    padding-top: 1.5em;
}

/* Membership card section */

.membershipcard1header {
    background-color: silver;
    /* font-weight: bold; */
    font-family: var(--primary-font) !important;
}

.membershipcard2header {
    background-color: gold;
    /* font-weight: bold; */
    font-family: var(--primary-font) !important;
}

.membershipcard3header {
    background-color: #294d8f;
    /* font-weight: bold; */
    font-family: var(--primary-font) !important;
}

.blockquote-footer {
    color: #0A0A00;
    /* font-weight: bold; */
}

.category-div {
    background-color: #EBE8E0;
    border-radius: 10px;
}

.category-div div{
    padding: 0;
}

.category-div img{
    border-radius: 0 10px 10px 0 ;
}
/* Classes page */

#classesmemberships img {
    width:100%;
    min-height: 180px;
}
#classesmemberships .card{
    padding: 0px;
}
/* Footer section */

#contactinfo {
    float: right;
}

#contact {
    background-color: var(--tertiary-color);
    padding: 0 0 10px 0;
}

#gymtimes td,
tr,
th {
    border-bottom: 1px solid white;
    padding: 5px;
    font-family: var(--primary-font);
}

.socialmedialinks {

}

.social-media-links i {
    font-size: 2em;
    color: var(--secondary-color)
}

footer i{
    color:#A8BBB0
}

/* Media devices (large laptops, 768px and up) */
@media screen and (min-width: 768px) {
    #membershipsection .card-body {
        min-height: 334px;
    }
}