/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #D01110;
    /* RED */

    --secondary-color: #0A0A00;
    /* BLACK */

    --tertiary-color: #A8BBB0;
    /* CELADON */

    --quaternary-color: #EBE8E0;
    /* IVORY */


}

/* Global styles */

body {
    background-color: #d3d3d3;
    padding-top: 55px;
}

.heading {
    font-family: var(--secondary-font) !important;
}

p,
.text-content {
    font-family: var(--primary-font);
    font-size: 16px !important;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 26px;
}

a:hover,
button:hover {
    color: grey !important;
}

.container {
    margin-bottom: 1.5em;
}

.card {
    margin-bottom: 1.5em;
}

.underline {
    text-decoration: underline;
}

/* Added this for higher specificity, regularly targetting them is not working due to BS display class overriding styles */
.display-6,
.display-3 {
    font-family: var(--secondary-font) !important;
}

.line-through {
    text-decoration: line-through;
}

.redbuttons,
/* Added specifically to target signup form submit button */
.redbuttonssubmit {
    background-color: #D01110;
    padding: 5px 10px;
    margin: 2px 5px;
    color: white!important;
    text-decoration: none!important;
    font-weight: bold;
    border: none;
    height: 55px;
    margin: 0;
    font-size: 20px;
    min-width: 100px;
    font-family: var(--primary-font);
    list-style: none;
    padding-top: 10px;
}

.white-text {
    color: #d3d3d3 !important;
}

/* Navbar styles */

.navbar-toggler {
    background-color: white;
}

nav {
    background-color: var(--tertiary-color) !important;
}

.nav-item {
    font-family: var(--primary-font);
    font-weight: bold;
}

#navbar-brand-anchor {
    background-color: #D01110;
    font-size: 30px;
    padding: 5px 10px;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-style: italic;
}

ul li a {
    margin: 0 5px;
}

#navbar-brand-anchor {
    min-height: 100%
}

.navbar {
    padding: 0;
}

/* Header */

.main-heading {
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    font-family: var(--secondary-font);
}

.active {
    font-weight: bold;
    color: #9d9696 !important;
}

header #title {
    width: 98%;
    margin: auto;
}

#title h1 {
    font-size: 70px;
    font-family: var(--secondary-font);
    font-style: italic;
    text-align: center;
}

#heroimg {
    max-width: 100%;
    max-height: 100vh;
    border-radius: 15px;
}

.heroimg {
    margin-top: 0;
}

.adjustimgsize {
    max-width: 100%;
    max-height: 100vh;
}

/* Main content */

.category-text-content-div {
    padding: 0 10px 0 10px !important;
}

/* Home class section */

/* Below belonging to class images, complications on structuring this in the 
website, will re-attempt later in the course if time allows */

.classSectionImg {
    /* Cards on home page not balanced, this balances all and makes them look more cohesive and similar */
    width: 100%;
    min-height: 320px;
}


#membershipsection {
    padding-top: 1.5em;
}

/* Membership card section */

.membershipcard1header {
    background-color: silver;
    font-family: var(--primary-font) !important;
}

.membershipcard2header {
    background-color: gold;
    font-family: var(--primary-font) !important;
}

.membershipcard3header {
    background-color: #294d8f;
    font-family: var(--primary-font) !important;
}

.blockquote-footer {
    color: #0A0A00;
}

.category-div {
    background-color: #EBE8E0;
    border-radius: 10px;
}

.category-div div {
    padding: 0;
}

.category-div img {
    border-radius: 0 10px 10px 0;
}


/* Classes page */

video {
    width: 500px;
    height: 350px;
}
#classesmemberships img {
    width: 100%;
    min-height: 180px;
}

#classesmemberships .card {
    padding: 0px;
}

/* Footer section */

.social-media-links i {
    color: #A8BBB0 !important;
}

#contactinfo {
    float: right;
}

#contact {
    background-color: var(--tertiary-color);
    padding: 0 0 10px 0;
}

#gymtimes td,
tr,
th {
    border-bottom: 1px solid white;
    padding: 5px;
    font-family: var(--primary-font);
}

.social-media-links i {
    font-size: 2em;
    color: var(--secondary-color)
}

footer i {
    color: #A8BBB0
}

/* 404 page */

.fillPage {
    height: 47vh;
}
/* Media devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    #membershipsection .card-body {
        height: 310px;
    }

    #classesmemberships img {
        min-height: 200px !important;
    }
    .discountImage {
        height: 288px;
    }
}

/* Media devices (laptops, 992px and up */
@media screen and (min-width: 992px) {

    /* Card is too long, this removes excessive whitespace */
    #membershipsection .card-body {
        max-height: 270px;
    }
    .discountImage {
        height: auto;
    }
    .classSectionImg {}
}

/* Media devices (large screens, 1440px and up)*/
@media screen and (min-width: 1440px) {

    #classesmemberships img {
        min-height: 220px !important;
    }

}